@import "../../css/styleguide.scss";

  .loading {
    max-width: 2000px;
    margin: 150px auto 0;
    @include loader;

    &--hidden {
      display: none;
    }
  }

  .no-results {
    max-width: 200px;
    margin: 150px auto 0;
    &--hidden {
      display: none;
    }
  }

  .weather {
    @include fadeIn;
    margin-bottom: 50px;

    &--hidden {
      display: none;
    }

    img {
      opacity: 0.6;
      height: 40%;
      @media screen and (max-width: $mobileBreakpointMax) {
        height: 30%;
      }
    }
    table {
      border-collapse: collapse;  
      border: $border;
      text-align: center;
      table-layout: fixed;
      width: 100%;
     

      
      

      thead {
        font-family: $fontBold;
        border: $border;
        
      }

      td,
      th {
        border-bottom: 0.5px solid $fontBlack;
        padding: 20px 20px;
        color: $fontBlack;
          
        @media screen and (max-width: $mobileBreakpointMax) {
          font-size: $fontMedium;
          padding: 10px 0;
        }

        @media screen and (max-width: $mobileBreakpointMin) {
          font-size: $fontSmall;
           
        }
      }
      td {
        color: $fontWhite;
      }

    }
  }
