@import "../../css/styleguide.scss";

.results-container {

  @media screen and (max-width: $tabletBreakpointMax) {
    width: 100%;
    
  }
  .loading {
    max-width: 2000px;
    margin: 150px auto 0;
    @include loader;

    &--hidden {
      display: none;
    }
  }

  .no-results {
    max-width: 200px;
    margin: 150px auto 0;
    &--hidden {
      display: none;
    }
  }

  .weather {
    @include fadeIn;

    &--hidden {
      display: none;
    }

    img {
      opacity: 0.9;
    }
    table {
      margin: 0 auto;
      border-collapse: collapse;
      border: $border;
      width: 100%;
      text-align: center;
     

      
      

      thead {
        font-family: $fontBold;
        border: $border;
        
      }

      td,
      th {
        border-bottom: 0.5px solid $fontBlack;
        padding: 20px 20px;
        color: $fontBlack;
        overflow: auto;
          
        @media screen and (max-width: $mobileBreakpointMax) {
          font-size: $fontMedium;
          padding: 30px 5px;
        }
      }
      td {
        color: $fontWhite;
      }

    }
  }
}
